<div class="container">
    <row>
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

            <div class="page-header">
                <h1>Daft Punk <small>Their story</small></h1>
                <img src="http://res.cloudinary.com/av11/image/upload/v1475853745/3c0bd1dbf31a04aec997dabe8bec4fff_prtyaf.jpg" alt="">
            </div>
            <p class="lead">
                Daft Punk is a French electronic music duo consisting of producers Guy-Manuel de Homem-Christo and Thomas Bangalter.
            </p>
            <p>
                The two achieved significant popularity in the late 1990s as part of the French house movement, and were met with continuous
                success in the years following, combining elements of house music with funk, techno, disco, rock, and synthpop
                influences. They are also known for their visual stylization and disguises associated with their music; specifically,
                the duo have worn ornate helmets and gloves to assume robot personas in most of their public appearances
                since 2001. They rarely grant interviews or appear on television.
                <br> Bangalter and de Homem-Christo were originally in an indie rock band called Darlin' together, which
                disbanded after a short period of time, leaving the two to experiment musically with drum machines and synthesizers.
                The duo became Daft Punk, releasing their debut album Homework on Virgin Records in 1997 to highly positive
                reviews. They were managed from 1996 to 2008 by Pedro Winter (Busy P), the head of Ed Banger Records. The
                2001 release of Discovery was even more successful, driven by the club singles "One More Time", "Digital
                Love", and "Harder, Better, Faster, Stronger". In March 2005, the duo released the album Human After All
                to mixed reviews. However, the singles "Robot Rock" and "Technologic" achieved success in the United Kingdom.
                <br> Daft Punk toured throughout 2006 and 2007 and released the live album Alive 2007, which won a Grammy
                Award for Best Electronic/Dance Album. The duo composed the score of the film Tron: Legacy in 2010 and released
                its soundtrack album. In January 2013, Daft Punk left Virgin Records for Sony Music Entertainment's subsidiary
                label Columbia, and released Random Access Memories in 2013 to worldwide critical acclaim. The album's lead
                single "Get Lucky" became an international success, peaking in the top 10 in 32 countries. Random Access
                Memories led to five Grammy wins in 2014, including Album of the Year as well as Record of the Year for "Get
                Lucky"...
                <a href="https://en.wikipedia.org/wiki/Daft_Punk">read more</a>
            </p>
            <p class="lead">
                <a href="https://www.amazon.com/Homework-DAFT-PUNK/dp/B000000WCV" target="_blank">Homework</a> is the debut
                studio album by the French electronic music duo Daft Punk, released on 7 January 1997 by Virgin Records and
                Soma Quality Recordings.
            </p>
            <p>
                The album revived house music and departed from the Eurodance formula. The duo produced the tracks without plans to release
                an album. After working on projects that were intended to be separate singles over five months, they considered
                the material good enough for an album. Homework's success brought worldwide attention to French house music.
                Homework charted in 14 different countries, peaking at number 3 on the French Albums Chart, number 150 on
                the United States Billboard 200 and at number 8 on the UK Albums Chart. By February 2001, the album had sold
                more than two million copies worldwide and received several gold and platinum certifications. Overall, Homework
                received positive critical response. The album features singles that had significant impact in French house
                and global dance music scenes, including the U.S. Billboard Hot Dance/Club Play number-one singles "Da Funk"
                and "Around the World", the latter of which reached number 61 on the Billboard Hot 100.
            </p>
        </div>
    </row>
</div>