<div class="container-fluid" id="or">
	<div class="row">
		<div class="col-xs-4"></div>
		<div id="top" class="col-xs-4">
			<h1>Daft Punk "Probably Never Gonna Happen...But Maybe" US Tour</h1>
			<h2>for the first time in ten years and third time ever in history:</h2></div>
		<div class="col-xs-4"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-4"></div>
		<div id="box" class="col-xs-4">
			<ul>
				<li>4/20/17: Staples Center, Los Angeles, CA</li>
				<li>4/25/17: Gorge Ampitheater, George, WA</li>
				<li>5/1/17: Red Rocks Ampitheater, Morrison, CO</li>
				<li>5/7/17: Greek Theater, Berkeley, CA</li>
				<li>5/20/17: Civic Space Park, Phoenix, AZ</li>
				<li>5/1/17: Madison Square Garden, New York City, NY</li>
			</ul>

			<br>
			
		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4"><a href="http://alive2017.com/">Ticket info available here.</a></div>
	<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4"><img src="alive.gif" alt="aliveTour"></div>
		<div class="col-xs-4"></div>
	</div>
</div>